/* #Global
================================================== */
body {
  font-family: 'Rubik', sans-serif;
}

/* #Counter
================================================== */
.counter {
  direction: ltr;
}

/* #Swiper Arrows
================================================== */
.swiper-arrows .prev,
.swiper-arrows .next {
  cursor: pointer;
}

/* #Btn
================================================== */
.btn {
  font-size: 1.04vw;
  height: 2.6vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2.2vw;
  transition: all .4s ease;
}

.btn.btn-primary {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn.btn-primary:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.btn.btn-secondary {
  border-radius: 4px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.btn.btn-secondary:hover {
  background-color: white;
  color: black;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.26vw;
    height: 11.33vw;
    padding: 0 12.6vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  color: white;
  padding: 1.3vw 0;
  background-color: black;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 0 5.14vw 0 7.3vw;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.header-contact {
  margin-right: auto;
}

.header-logo {
  margin-left: 3.125vw;
}

.header-logo img {
  width: 8.1vw;
}

@media (min-width: 1024px) {
  .header-hamburger {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .header-contact,
  .header-links {
    display: none;
  }

  .header {
    padding: 0;
  }
  
  .header .container {
    height: 18.66vw;
    padding: 0 5.33vw;
    border-bottom: 1px solid white;
    justify-content: space-between;
  }
  
  .header-logo {
    margin-left: 0;
  }
  
  .header-logo img {
    width: 31.2vw;
  }

  .header-hamburger img {
    width: 7.46vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9.47vw;
  z-index: 1;
  color: white;
}

.banner h1 {
  line-height: 1;
  margin-bottom: 1.3vw;
}

.banner p {
  line-height: 1.5;
  margin-bottom: 3vw;
  width: 25.78vw;
}

@media (min-width: 1024px) {
  .banner .btn {
    padding: 0 3.125vw;
  }
}

@media (max-width: 1023.98px) {
  .banner .text {
    top: 30vw;
    transform: translateX(50%);
    right: 50%;
    width: 84%;
    text-align: center;
  }
  
  .banner h1 {
    margin-bottom: 2vw;
  }
  
  .banner p {
    margin-bottom: 6.66vw;
    width: 100%;
  }
}

/* #How It Works
================================================== */
.how-it-works {
  display: flex;
  border-bottom: 1px solid #DFDFDF;
  height: 8.33vw;
}

.how-it-works h2 {
  flex: 0 0 20%;
  border-left: 1px solid #DFDFDF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works ul {
  flex: 0 0 80%;
  display: flex;
}

.how-it-works ul li {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3vw;
}

.how-it-works ul li:not(:last-child) {
  border-left: 1px solid #DFDFDF;
}

.how-it-works .img {
  flex-shrink: 0;
  margin-left: .67vw;
}

.how-it-works .img img {
  width: 2.86vw;
  height: 2.44vw;
  object-fit: contain;
  object-position: top center;
}

.how-it-works .text p {
  line-height: 1.25;
  color: #565656;
}

@media (max-width: 1023.98px) {
  .how-it-works {
    display: block;
    border-bottom: none;
    height: auto;
    padding: 8vw 0 13.3vw 0;
  }
  
  .how-it-works h2 {
    border-left: none;
    margin-bottom: 6.66vw;
  }
  
  .how-it-works ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8.8vw;
  }
  
  .how-it-works ul li {
    flex: 0 0 50%;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 8.8vw;
  }
  
  .how-it-works ul li:not(:last-child) {
    border-left: none;
  }
  
  .how-it-works .img {
    margin-left: 1vw;
  }
  
  .how-it-works .img img {
    width: 10.66vw;
    height: 12vw;
    margin: 0 auto;
  }
}

/* #Product Slider
================================================== */
.product-slider {
  padding: 6vw 0 0 0;
}

.product-slider .container {
  width: 88.43%;
}

.product-slider h2 {
  text-align: center;
  line-height: 1;
  margin-bottom: 1vw;
}

.product-slider .tab-navigation {
  margin-bottom: 2.96vw;
}

.product-slider .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-slider .tab-btn {
  color: #BBBBBB;
  border-bottom: 1px solid transparent;
}

.product-slider .tab-btn.active {
  color: black;
  border-color: black;
}

.product-slider .tab-btn:not(:last-child) {
  margin-left: 2.34vw;
}

.product-slider .slider {
  position: relative;
}

.product-slider .prev {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.product-slider .next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.product-slider .prev img,
.product-slider .next img {
  width: 2.6vw;
}
 
.product-slider .swiper {
  width: 81.14vw;
  margin: 0 auto;
}

.product-slider .swiper-slide {
  padding: 0 1vw;
  padding-bottom: 1.25vw;
}

.product-slider .product-card {
  transition: all .4s ease;
}

.product-slider .product-card:hover {
  box-shadow: 0 .625vw 1.25vw rgba(0, 0, 0, 0.06);
}

.product-slider .product-counter {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.927vw;
}

.product-slider .btn {
  width: 100%;
}

.product-slider .product-img {
  margin-top: 1.3vw;
}

.product-slider .product-img img {
  width: 9.89vw;
  height: 14.84vw;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

.product-slider .product-logo img {
  margin: 0 auto;
  width: 5vw;
  height: 2.13vw;
  object-fit: contain;
  object-position: center;
}

.product-slider .product-btn {
  padding: 1.5vw 1.3vw 1.3vw 1.3vw;
}

.product-slider .product-title {
  text-align: center;
  margin: .67vw 0 1.5vw 0;
}

.product-slider .product-price {
  padding: 0 1.3vw;
}

.product-slider .product-price li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-slider .product-price li:not(:last-child) {
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: .5vw;
  padding-bottom: .5vw;
}

@media (min-width: 1024px) {
  .product-slider .swiper-scrollbar {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .product-slider {
    padding: 0 0 19.33vw 0;
  }
  
  .product-slider .container {
    width: 100%;
  }
  
  .product-slider h2 {
    margin-bottom: 6vw;
  }
  
  .product-slider .tab-navigation {
    margin-bottom: 7.33vw;
  }
  
  .product-slider .tab-btn:not(:last-child) {
    margin-left: 10.66vw;
  }
  
  .product-slider .swiper-arrows {
    display: none;
  }
   
  .product-slider .swiper {
    width: 100%;
    padding-right: 2.66vw;
    padding-bottom: 10.66vw;
  }
  
  .product-slider .swiper-slide {
    padding: 0 2.66vw;
    padding-bottom: 3.2vw;
  }
  
  .product-slider .product-card {
    box-shadow: 0 1.6vw 3.2vw rgba(0, 0, 0, 0.06);
  }
  
  .product-slider .product-card:hover {
    box-shadow: 0 1.6vw 3.2vw rgba(0, 0, 0, 0.06);
  }
  
  .product-slider .product-counter {
    height: 8.4vw;
  }
  
  .product-slider .btn {
    width: 100%;
  }
  
  .product-slider .product-img {
    margin-top: 4vw;
    margin-bottom: 2.66vw;
  }
  
  .product-slider .product-img img {
    width: 37.86vw;
    height: 56.8vw;
  }
  
  .product-slider .product-logo img {
    width: 19.33vw;
    height: 5.33vw;
  }
  
  .product-slider .product-btn {
    padding: 4vw 5.33vw 4.93vw 5.33vw;
  }
  
  .product-slider .product-title {
    text-align: center;
    margin: 2.66vw 0 8vw 0;
  }
  
  .product-slider .product-price {
    padding: 0 5.33vw;
  }
  
  .product-slider .product-price li:not(:last-child) {
    margin-bottom: 2vw;
    padding-bottom: 2vw;
  }

  .product-slider .swiper-horizontal>.swiper-scrollbar {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 5px;
    width: 68.6%;
  }

  .product-slider .swiper-scrollbar {
    border-radius: 0;
    background: #EDEDED;
  }

  .swiper-scrollbar-drag {
    background: #1C1B1B;
    border-radius: 0;
  }
}

/* #FAQ
================================================== */
.faq {
  display: flex;
  align-items: center;
  padding: 5.7vw 0;
}

.faq h2 {
  line-height: 1;
  margin-bottom: 2vw;
}

.faq .img {
  flex-shrink: 0;
  width: 48.2%;
  margin-left: 2.8vw;
}

.faq .img img {
  width: 100%;
}

.faq .collapsible {
  width: 39.375vw;
  border: 1px solid #BBBBBB;
  padding: 1.17vw 1.71vw;
}

.faq .collapsible:not(:last-child) {
  margin-bottom: 1.04vw;
}

.faq .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .collapse-toggler img {
  width: .78vw;
  transform: rotate(0);
  transition: all .4s ease;
}

.faq .show .collapse-toggler img {
  transform: rotate(180deg);
}

.faq .collapse > div {
  padding: .78vw 0 0 .41vw;
}

@media (max-width: 1023.98px) {
  .faq {
    display: block;
    padding: 0;
    margin-bottom: 15.33vw;
  }
  
  .faq h2 {
    text-align: center;
    margin-bottom: 7.33vw;
  }
  
  .faq .img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 6vw;
  }
  
  .faq .img img {
    width: 100%;
    height: 46.66vw;
    object-fit: cover;
    object-position: center;
  }

  .faq .text {
    padding: 0 5.33vw;
  }
  
  .faq .collapsible {
    padding: 4vw;
    width: 100%;
  }
  
  .faq .collapsible:not(:last-child) {
    margin-bottom: 4vw;
  }
  
  .faq .collapse-toggler img {
    width: 4vw;
  }
  
  .faq .collapse > div {
    padding: 2vw 0 0 .41vw;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: black;
  color: white;
  padding: 2.76vw 0 2.86vw 0;
}

.footer .container {
  width: 81%;
}

/* Top */
.footer .top {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-left: 14.79vw;
}

.footer-logo img {
  width: 13.125vw;
}

.footer-links ul {
  display: flex;
}

.footer-links ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.footer-social {
  margin-right: auto;
  text-align: center;
}

.footer-social ul {
  display: flex;
  margin-top: .25vw;
}

.footer-social img {
  width: 3.125vw;
}

/* Bottom */
.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 1.3vw;
  margin-top: 3.27vw;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 16.26vw 0;
  }
  
  /* Top */
  .footer .top {
    display: block;
  }
  
  .footer-logo {
    margin-left: 0;
    margin-bottom: 12.53vw;
  }
  
  .footer-logo img {
    margin: 0 auto;
    width: 43.46vw;
  }
  
  .footer-links ul {
    display: block;
    line-height: 1;
    text-align: center;
  }
  
  .footer-links ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 7.33vw;
  }
  
  .footer-social {
    margin-right: auto;
    text-align: center;
  }
  
  .footer-social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13.33vw;
  }
  
  .footer-social img {
    width: 13.33vw;
  }
  
  /* Bottom */
  .footer .bottom {
    display: block;
    border-top: none;
    padding-top: 6.66vw;
    text-align: center;
    margin-top: 0;
  }

  .footer .bottom p {
    margin-bottom: 2vw;
  }
}